# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
ae3101
ccc
est3101
esta3101
fort.6
go3101
inic03.sa
inis.da
nube3101.sal
nube3102.sal
nube3103.sal
nube3104.sal
nube3105.sal
nube3106.sal
nube3107.sal
posnub31.sa
pr3101
prog
ti3101
u23101
v23101
va3101
vara3101
varconz.da
velos.da
w23101
