recursive-include cloudmodel/interface *
recursive-include cloudmodel *.py
include LICENSE
include README.md
include pyproject.toml
include setup.py
include MANIFEST.in
include requirements.txt
include tox.ini
include test.py
recursive-include tests *.da
recursive-include tests *.sa
recursive-include tests *.sal