include *.toml
include *.yml
recursive-include app *.f90
recursive-include python *.f90
recursive-include python *.in
recursive-include python *.md
recursive-include python *.py
recursive-include python *.toml
recursive-include python *.txt
recursive-include python Makefile
recursive-include python LICENSE
recursive-include src *.f90