cachetools==5.4.0
chardet==5.2.0
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
distlib==0.3.8
exceptiongroup==1.2.2
filelock==3.15.4
fonttools==4.53.1
fpm==0.10.1
iniconfig==2.0.0
kiwisolver==1.4.5
matplotlib==3.9.1
meson==1.5.0
ninja==1.11.1.1
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.5.0
pyparsing==3.1.2
pyproject-api==1.7.1
pytest==8.3.1
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.14.0
six==1.16.0
tomli==2.0.1
tox==4.16.0
tzdata==2024.1
virtualenv==20.26.3
meson-python==0.16.0